<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Pug SASS Starter
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap&subset=latin-ext')
    script(src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  body

    include includes/primary_nav.pug
    include includes/hero_primary.pug

    section.section

      .container

        h1.title.is-primary
          i.far.fa-angry
          |  Starter
          |
          i.fas.fa-angry

        h2.subtitle by Gary Cheeseman

        .columns
          .column First Column
          .column Second Column
          .column Third Column
          .column Fourth Column

        p This is some text also 7

        button.button.is-primary Button

    include includes/footer.pug

    script(src='/scripts/script.js')
